body {
  font-family: "Architects Daughter", cursive;
  margin: 0px;
}
.a {
  text-align: center;
  font-size: 30px;
}

.a h1 {
  margin: 20px 40px;
}
.b1 {
  text-align: center;
}
tr {
  width: 1%;
}
th {
  background-color: gainsboro;
}
table {
  font-size: 30px;
  margin: 0;
  width: 100%;

  padding-right: ;
  border: 5px solid blue;
}
th,
td {
  border: 1px solid black;
  text-align: center;
}
.ta {
  padding: 10px 100px 10px 100px;
}
