h1{
  margin: 0;
  color: white;
  padding: 30px;
}
div{
  background-color: coral;
  text-align: center;
  font-size: 32px;
}
body{
  margin: 0;
  background-color: mediumpurple;
}
#background{
  background-color: mediumpurple;
  color: white;
  margin: 0;
  padding: 40px;
}
a{
   text-decoration: none;
}
